body{
    margin:0;
    font-family:"Segoe UI",sans-serif;
    background:#f6f7fb;
}

.container{
    display:flex;
}

.sidebar {
  width: 260px;
  height: 100vh;
  background: linear-gradient(180deg, #814cf1, #814cf1); 
  padding: 25px 15px;
  position: fixed;
  left: 0;
  top: 0;
}

.logo{
    color:white;
    margin-bottom:30px;
    font-size:22px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  margin-bottom: 14px;
  border-radius: 14px;
  text-decoration: none;
  color: #e6e6f0;
  background: rgba(255, 255, 255, 0.08);
  font-weight: 500;
  transition: all 0.25s ease;
}

.sidebar a.active {
  background: #ffffff;      
  color: #2b145f;           
  font-weight: 600;
  box-shadow: 0 6px 20px rgba(255,255,255,0.35);
}

.sidebar .nav{
    display:flex;
    align-items:center;
    gap:10px;
    color:#f3f2ff;
    text-decoration:none;
    padding:12px 14px;
    border-radius:14px;
    margin-bottom:14px;
    background: rgba(255,255,255,0.12);
    transition:0.25s;
    font-weight:500;
}

.sidebar .nav:hover{
    background: rgba(255,255,255,0.22);
}

.sidebar .nav.active{
    background:#ffffff;
    color:#2b2b2b;
    font-weight:600;
}

.add-btn{
    margin-top:40px;
    background:#8f88ff;
    color:white;
    text-align:center;
    font-weight:600;
}

.add-btn:hover{
    background:#a59fff;
}

.main{
    margin-left:240px;
    width:100%;
    padding:40px;
    transition:0.3s;
}

.sidebar.hide + .main{
    margin-left:0;
}

.hamburger{
    display:none;
    position:fixed;
    top:15px;
    left:15px;
    font-size:26px;
    cursor:pointer;
    z-index:1000;
}

@media(max-width:768px){
    .sidebar{
        margin-left:-240px;
    }

    .sidebar.hide{
        margin-left:-240px;
    }

    .sidebar:not(.hide){
        margin-left:0;
    }

    .main{
        margin-left:0;
    }

    .hamburger{
        display:block;
    }
}
