.manage-row{
    display: flex;
    justify-content: space-between;   
    align-items: center;              
    background: #fff;
    padding: 18px 22px;
    border-radius: 12px;
    margin-bottom: 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.subject-info h3{
    margin: 0;
    font-size: 18px;
}

.sub-text{
    margin-top: 5px;
    color: #666;
    font-size: 14px;
}

.actions{
    display: flex;
    gap: 10px;
}

.icon-btn{
    padding: 8px 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
}

.edit{
    background: #7a72ff;
    color: white;
}

.delete{
    background: #dc3545;
    color: white;
}

.icon-btn:hover{
    transform: scale(1.08);
}
